.body {
    background-color: #CDF2FB;
    padding: 30px 30px 30px 10%;
    height: 150px;
}

/*.body:hover {
    margin: 0;
    transition: .5s;
}*/



h4 {
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 0px;
}

.number_left {
    float: left;
    font-size: 125px;
    padding-right: 15px;
    margin-top: -50px;
}

.text_left {
    float: left;
}

img {
    float: right;
    height: 100px;
    padding-right: 100px;
}