header {
    display:flex;
    justify-content: space-between;
    border-bottom: 2px solid black;
    padding: 1rem;
    padding-bottom: 4px;
}
.main-header {
    display: flex;
    flex-wrap: nowrap;
}
nav {
    margin: 4px;
    line-height: 2rem;
}
.account {
    align-self: flex-end;
    display: flex;
    flex-wrap: nowrap;
    line-height: 2rem;
    margin: 4px;
}
h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: inline-block;
    margin: 0;
    margin-right: 32px;
}