/* @import 'cssLibrary/styles'; */
:host {
    flex: 100%;
    display: flex;
}
main {
    flex: 100%;
    display:flex;
    position: relative;
}
p {
    border: 4px solid var(--selectable);
}
/* c-util-modal c-util-content-box {
    max-width: 25rem;
    margin: auto;
} */