:root {
    /* Brand colors */
    --background: #EDEEBE;
    --selectable: #5BAB93;
    --highlight: #13FFB8;
    --input: #CF9FF4;
    --input-field: #feefff;
    --favorite: #F7FF95;;
    --blue: #CCE4FF;
    /* Standard colors */
    --white: #FFFFFF;
    --black: #000000;
    --grey: #D2D3D3;
}
/* .c-util-button-link {
    display: flex;
    flex: 100%;
}
.c-util-button-link h2 {
    margin: 0;
}
.c-util-button-link .box {
    border: 2px solid var(--black);
    background-color: var(--white);
    color: var(--black);
    padding: 1.5rem;
    flex: 100%;
}
.c-util-button-link .round {
    border-radius: 8px;
}
.c-util-button-link .input {
    background-color: var(--input);
}
.c-util-button-link .thin {
    padding: 0.2rem;
}
.c-util-button-link .thin form {
    display: flex;
    justify-content: space-evenly;
}
.c-util-button-link .thin h2 {
    display: inline;
    white-space: nowrap;
    margin: 0.9rem 0.2rem 0;
    font-size: 1.2rem;;
} */